{% extends 'base.html' %}

{% block title %} My questions {% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>My Questions</h3>
        {% for question in questions %}
            <div class="card my-3">
                <div class="card-body">
                    {% include 'included/render_single_question.html' %}
                    <a class="mr-2" href="question/edit/{{ question.id }}/">Edit</a>
                    <a href="question/delete/{{ question.id }}/">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col">
        <h3>My Answers</h3>
        {% for answer in answers %}
            <div class="card my-3">
                <div class="card-body">
                    <p>{{ answer.text }}</p>
                    <a class="mr-2" href="answer/edit/{{ answer.id }}/">Edit</a>
                    <a href="Answer/delete/{{ answer.id }}/">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}